{% extends 'base.html' %} 
{% load static %}
{% block content %}

<div class="d-flex mb-4 justify-content-around align-items-center">
    <div class="mr-3">
        <img src="media/spp.jpg"  style="width: 1000px; height: 600px;" alt="BMW Image">
    </div>
    <div class="text-center">
        <p class="bmw-style">
            BMW, short for Bayerische Motoren Werke AG <br>(Bavarian Motor Works in English), <br>is a German multinational company known<br> for producing luxury vehicles, motorcycles, <br>and engines. BMW is one of the leading <br>
            brands in the automotive industry and <br>is recognized for its high-performance <br>and premium-quality vehicles. Some popular<br> car models from BMW include:
        </p>
    </div>
</div>


{% block content1 %}
{% endblock %}

{% endblock %}
